config/xml_schemas/config_comply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- attributes -->
  <xs:attribute name="version" type="xs:decimal"/>
  <xs:attribute name="id" type="xs:NCName"/>
  <xs:attribute name="match" type="xs:string"/>

  <!-- simple elements -->
  <xs:element name="component" type="xs:string"/>
  <xs:element name="mode" type="xs:string"/>

  <!-- complex elements -->

  <xs:element name="comply">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="compliance"/>
      </xs:sequence>
      <xs:attribute ref="version" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="compliance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="component"/>
        <xs:element ref="mode"/>
        <xs:element maxOccurs="unbounded" ref="relation"/>
      </xs:sequence>
      <xs:attribute ref="id" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="relation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="default"/> <!-- TODO: further specify-->
        <xs:element name="enabled"/> <!-- TODO: further specify-->
        <xs:element name="disabled"/> <!-- TODO: further specify-->
      </xs:sequence>
      <xs:attribute name="id"/> <!-- TODO: further specify-->
      <xs:attribute name="arity"/> <!-- TODO: further specify-->
      <xs:attribute name="type"/> <!-- TODO: further specify-->
    </xs:complexType>
  </xs:element>

</xs:schema>
